* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #fffdf9;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.53;
}

a {
  color: #0071bc;
}

a:visited {
  color: #4c2c92;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1.53rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.51572rem;
}

h3 {
  font-size: 1.1487rem;
}

h5 {
  font-size: 0.917rem;
}

p,
ul,
ol,
figure,
blockquote,
pre,
hr {
  margin: 0 0 1.53rem;
}

li {
  margin-bottom: 0.765rem;
}

.site-layout-container {
  min-height: 100%;
}

.site-content-layout {
  display: flex;
  flex-direction: row;
  min-height: 95vh;
}

.site-content {
  position: relative;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 2em;
}

.site-footer {
  background: #f1eee9;
  min-height: 5vh;
  color: #ababab;
  padding: 1em;
  font-size: 0.9rem;
}

.site-title-link {
  display: inline-block;
  margin-top: 0;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
  font-family: 'Merriweather', serif;
  font-size: 1.31951rem;
  line-height: 2.295rem;
}

.site-sidebar {
  display: none;
}

.site-sidebar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.site-sidebar-nav {
  display: none;
}

.site-nav-link {
  display: block;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.85rem;
  padding: 0.5em 0;
  transition: all 0.15s ease-in;
}

.site-nav-link:active,
.site-nav-link:focus,
.site-nav-link:visited {
  color: rgba(0, 0, 0, 0.6);
}

.site-nav-link:hover {
  color: rgba(0, 0, 0, 1);
}

.site-nav-link.is-active {
  color: rgba(0, 0, 0, 1);
}

.site-nav-link.secondary,
.site-nav-link.secondary:active,
.site-nav-link.secondary:focus,
.site-nav-link.secondary:visited {
  color: rgba(0, 0, 0, 0.2);
}

.site-nav-link.secondary:hover {
  color: rgba(0, 0, 0, 0.5);
}

.mobile-header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  padding-left: 1em;
  z-index: 9999;
  border-bottom: 1px solid black;
  background-color: #fffdf9;
}

.mobile-menu-trigger {
  width: 3em;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  border: none;
  background: transparent;
  font-size: 2em;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  transition: all 0.15s ease-in;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mobile-menu-trigger.is-open {
  transform: rotate(-45deg);
  color: red;
}

.mobile-menu {
  display: none;
  position: fixed;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  background: white;
  padding: 1em;
  z-index: 9998;
  opacity: 0.97;
}

.mobile-menu.is-visible {
  display: block;
}

.post-wall {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  padding: 1em;
}

.post-card {
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
  background: black;
  width: 100%;
  max-height: 680px;
  overflow: hidden;
  transition: all 0.15s ease-in;
  box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.post-card:hover {
  opacity: 0.85;
}

.post-card-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border-radius: 5px;
  outline: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.post-card-image {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  margin: 0;
  display: block;
  vertical-align: middle;
  object-fit: cover;
}

.post-card-content {
  position: absolute;
  inset: 0;
  padding: 0.7em 0.7em 0.3em;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.post-card-title {
  margin-bottom: auto;
  color: #fff;
  font-size: 0.95em;
  line-height: 1.54;
  word-wrap: normal;
}

.post-card-meta {
  margin-top: auto;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}

.content-page {
  max-width: 40em;
  padding: 0 1em;
}

.post-page-layout {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.post-primary-column {
  max-width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

.post-header {
  padding-bottom: 1em;
}

.post-title {
  font-size: 2em;
  line-height: 1.1em;
  margin-bottom: 0.5em;
}

.post-date {
  font-size: 0.9em;
}

.post-cover-column {
  display: none;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.post-cover-image {
  width: 640px;
  height: auto;
  display: block;
}

.post-content img {
  display: block;
  margin: 0 auto 1.53rem;
  max-width: 100%;
}

.post-content video {
  width: 100%;
  height: auto;
}

.post-content blockquote {
  font-size: 0.9rem;
}

.post-content figure {
  margin-left: 0;
  margin-right: 0;
}

.post-content hr {
  margin-bottom: calc(1.53rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

.post-end-divider {
  margin-bottom: 1em;
}

.post-footer-meta {
  display: flex;
  color: #ababab;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.post-footer-contact {
  color: #ababab;
  padding: 1em 0;
}

.cover-about {
  background: #f1eee9;
  padding: 1em;
  color: #ababab;
}

.cover-about-content {
  display: flex;
  flex-direction: row;
}

.cover-about-image {
  width: 100px;
  margin: 0 1em 0 0;
}

@media only screen and (min-width: 50em) {
  .mobile-header,
  .mobile-menu-trigger,
  .mobile-menu {
    display: none;
  }

  .site-content {
    padding-left: 300px;
  }

  .site-sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-shrink: 0;
    float: left;
    padding: 1em 0 1em 4em;
    z-index: 1;
  }

  .site-sidebar-header {
    justify-content: flex-start;
    height: 75px;
  }

  .site-sidebar-nav {
    display: flex;
  }

  .site-footer {
    padding: 1em 4em;
  }

  .post-wall {
    padding: 0;
    margin: 0 1em;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .post-card-title {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 70em) {
  .site-content {
    padding-top: 35px;
  }

  .post-wall {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
  }

  .post-card {
    max-height: 580px;
  }

  .post-card-content {
    padding: 1.5em 1.5em 0.6em;
  }

  .post-card-title {
    font-size: 1.1em;
    padding-top: 0;
  }

  .post-page-layout {
    margin-left: 80px;
    padding: 0;
  }

  .post-primary-column {
    max-width: 40em;
    margin-right: 2em;
  }

  .post-cover-column {
    display: block;
  }

  .cover-about-image {
    margin-right: 2em;
  }
}

@media only screen and (min-width: 90em) {
  .post-wall {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
  }

  .post-card {
    max-height: 520px;
  }
}

@media only screen and (min-width: 110em) {
  .post-card {
    max-height: 500px;
  }
}

@supports (view-transition-name: none) {
  ::view-transition-image-pair(root) {
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
  }
}
